#header-main{
    display: flex;
    height:20px; 
    padding: 8px 10px 22px 15px;
    font-size:30px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.sale1 { 
    margin: 0;
 } 
.event{ 
   margin: 0;
   padding-left:  360px;
} 
/* ====================Responsive================================ */
@media  only screen and (max-width: 600px) {
    #header-main{
    height: 0px;
    padding-left: 4px;
    font-size: 62%;
    }
    .sale1{
        margin-right:auto;
    }
   .event{
    padding: 0;
   }
}
/* ======================================================================= */

