#navigation{
    display: flex;
    height: 80px;
    font-family: sans-serif;
    background-color: white;
    margin:0 0 10px 0;
    box-shadow: 0 3px 10px  var(--secondary-color);
}
/* 
========================================================================= */
.brand-icon{
    display: flex;
    height: 8vh;
    width:  100%;
    margin: 3px 0 10px 30px;
}
.link2{
    text-decoration: none;
}
.Eco{
    color: var(--primary-color);
    font-size:xx-large;
    font-weight: inherit;
     margin: 10px  0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .Store{
        color: var(--secondary-color)}
/* ================================================================================ */
.input{
   text-align: center;
   border-radius: 5px;
   width: 100%;
   font-size: 20px;
   font-weight: initial;
   padding: 15px 30px;
   border: 3px whitesmoke;
   margin:20px auto;
   border-bottom: solid rgb(204, 195, 195) 3px;
   
   }
  .input:hover{
    border-color :  blueviolet ;
   }
/* ================================================================== */
#icons {
    display: flex;
    margin:  0 0 50px 0;
}
.icons-1 {
    font-size: 30px;
    margin:  30px 30px;
    background-color: var(--primary-color);
   
 
}
.icons-2{

    top: -58px;
    right:-20px; 
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 20px;
    width: 20px;
    justify-content: center;
    position: relative;
    padding:1px

   
}



.icon{
    color: var(--primary-color);
}

  

.btn{
padding: 5px 15px;
margin: 20px 20px 20px  32px ;
border: 2px solid rgb(255, 204, 2);
outline: 2px solid yellowgreen;
outline-offset: 1px;
background-color: var(--secondary-color);
border-radius: 1px  10px;
font-size: 14px;
font-weight: bold;
width: 20%;
}
.btn:hover{
    background-color: black;
    color: var(--secondary-color);
    transition: all 0.5s ease 0s;
}
/* ======================================================= */
@media  only screen and (max-width: 600px){

       #navigation{
       display: flex;
       height: 65px;
        }
       .brand-icon{
        height: 3vh;
        margin: 15px 0 0 5px;
        }
        .Eco{
        font-size:11px;
         margin: 8px 0;
        }
        .input{
        height: 7px;
        font-size: 9px;
        padding:3px 5px;
        margin: 22px 15px 0 0 ;
        } 

        .icons-1 {
        font-size: 22px;
        margin:19px 6px;
        }
        .icons-2{

            top: -45px;
            right:-18px; 
         
            font-size: 12px;
            height: 15px;
            width: 15px;
            justify-content: center;
            position: relative;
            padding:1px
        
           
        }
        .btn{   
        font-size: 10px;
        margin: 15px 10px 15px 30px ;
        }
}
/* ======================================================================== */